* {
  box-sizing: border-box;
}

body {
  margin: 0 20px;
  width: calc(100vw - 40px);
}
#root {
  display: grid;
  grid-template-rows: 100px calc(100vh - 161px) 50px;
}

main {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  column-gap: 20px;
  grid-template-rows: calc(100vh - 161px);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

footer {
  text-align: center;
}

b {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

div[class*='col'] {
  display: grid;
  column-gap: 20px;
}

.col {
  &-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

img,
video,
canvas {
  width: 100%;
}

img {
  object-fit: contain;
}
